<%= javascript_include_tag 'links' %>
<div class="select_contact">
    <%= check_box_tag 'by_contact', id: 'by_contact', :data => { 'state' => true, 'label-text' => 'Share','on-text' => 'By Contact', 'off-text' =>'By Group' } %>
</div>

<div class="by_contacts hide_me">
  <h4>Select By Contact</h4>
  <ul>
    <% contacts.each do |contact| %>
      <li>
        <%= check_box_tag "contact_#{contact.id}", contact.id, false, class: ' contact_cb'%>
        <%= h contact.name %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate contacts %>
</div>

<div class="by_groups">
  <h4>Select By Group</h4>
  <ul>
    <% groups.each do |group| %>
      <li>
        <%= check_box_tag "group_#{group.id}", group.id, false, class: 'group_cb'%>
        <%= h group.name %>
      </li>
    <% end %>
  </ul>
</div>