<% @links.each do |link| %>
  <div class="showback" >
    <div class="left"><i title= "<%= link.link_type.name %>" class='<%= "#{set_category_icon(link)}" %>'></i><br/>
      <span id="learn_count_<%=link.id %>">
        <%= render partial: 'learn_count', locals: {link: link} %>
      </span><br>
      <i id="fav_<%=link.id %>">
        <%= render partial: 'favourite_btn', locals: {link: link} %>
      </i>
    </div><p>
    <%= link_to "#{link.title}", link.url, target: '_blank'%></p>
    <span class="pull-right">
      <%= image_tag link.category.icon, title: link.category.name, height: '22px', width:'20px' if link.category.present? %>
    </span>
    <div class="description">
      <div class="truncate_desc<%=link.id%>"><%= truncate(simple_format(link.description), length: 200, escape: false) {link_to "More", 'javascript:void(0)', id: "#{link.id}", class:"view_desc_more view_toggle_font" } %></div>
      <div class=" truncate_desc_show<%=link.id%> hide_me"><%= simple_format(link.description)%><%= link_to "Less", 'javascript:void(0)', id: "#{link.id}", class:"view_desc_less #{link.id} view_toggle_font" %></div>
    </div><br/>
    <div>
      <div class="tag">
        <% link.tags.each do |tag| %>
          <%= link_to tag.name, links_path(tag: tag.name), class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
      <div class="btn-group btn-link-menu" id="<%="btn_group#{link.id}"%>">
        <button data-toggle="dropdown" class="btn dropdown-toggle toggle_btn fa fa-bars " title='Options' type="button">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul role="menu" class="dropdown-menu">
          <li><%= link_to 'Edit', edit_link_path(link) %> </li>
          <li><%= link_to 'Increase Learn Count', learn_time_path(link.id), remote: true, data: { confirm: 'You are about to increase learn count of this link. Are you sure?'} %></li>
          <li><%= link_to 'Delete',link_path(link), method: 'delete',data: { confirm: 'Are you sure? Do you want to delete?'} %></li>
        </ul>
      </div>
    </div>
  </div><!-- /showback -->
<% end %>


<script>
  $('.btn-group').click(function(){
       $('#'+this.id).toggleClass('open');
      }
  )
  $('.view_desc_more').click(function () {
    $('.truncate_desc'+this.id).toggleClass('hide_me');
    $('.truncate_desc_show'+this.id).toggleClass('show_me');
    var v = $( ".truncate_desc_show"+this.id).find("p");
    v.append($('.'+this.id));
//    alert(v);
  })
  $('.view_desc_less').click(function () {
    $('.truncate_desc'+this.id).toggleClass('hide_me');
    $('.truncate_desc_show'+this.id).toggleClass('show_me');
  })
</script>