<% @links.each do |link| %>
  <div class="showback" >
    <div class="left"><i title= "<%= link.category %>" class='<%= "#{set_category_icon(link)}" %>'></i><br/><span title = "<%= set_tooltip_on_count(learning_count(link)) %>" id="learn_count_<%=link.id %>"><%= link.learn_time.count %></span></div><p>
    <%= link_to "#{link.title}", link.url, target: '_blank'%></p>
        <span>
          <i id="fav_<%=link.id %>">
            <%= render :partial => 'favourite_btn', :locals => {link: link} %>
          </i>
          <%= link_to edit_link_path(link), title: 'Edit' do%>
            <i class="fa fa-edit" style="text-decoration: none"></i>
          <%end%>
          <%= link_to link_path(link), method: 'delete', title: 'Delete',data: { confirm: 'Are you sure? Do you want to delete?'} do %>
            <i class="fa fa-trash-o" ></i>
          <%end%>
          <%= link_to learn_time_path(link.id), remote: true do %>
            <i title= "<%= set_tool_tip(link) %>"class="fa fa-eye"></i>
          <% end %>
        </span>
    <div class="description">
      <%= link.description %>
    </div><br/>
    <div class="tag">
      <% link.tags.each do |tag| %>
        <%= link_to tag.name, links_path(tag: tag.name), class: "btn btn-sm btn-theme" %>
      <% end %>
    </div>
  </div><!-- /showback -->
<% end %>
</div>