<section class="wrapper">
  <%= form_tag '/links/send_links' do %>
    <%= email_field_tag 'name' %>
    <%= submit_tag :submi%>
  <% end %>

  <% links.each do |link| %>
    <div class="showback" >
      <div class="left">
        <i title= "<%= link.link_type.name %>" class='<%= "#{set_category_icon(link)}" %>'></i><br/>
      </div>
      <p>
        <%= link_to "#{link.title}", link.url, target: '_blank'%>
      </p>

      <div class="description">
        <div class="truncate_desc<%=link.id%>"><%= truncate(simple_format(link.description), length: 200, escape: false) {link_to "More", 'javascript:void(0)', id: "#{link.id}", class:"view_desc_more view_toggle_font" } %></div>
        <div class=" truncate_desc_show<%=link.id%> hide_me"><%= simple_format(link.description)%><%= link_to "Less", 'javascript:void(0)', id: "#{link.id}", class:"view_desc_less #{link.id} view_toggle_font" %></div>
      </div><br/>
      <div>
        <div class="tag"></div>
        <div class="btn-group btn-link-menu" id="<%="btn_group#{link.id}"%>"></div>
      </div>
    </div><!-- /showback -->
  <% end %>
</section>