<aside>
  <div id="sidebar" class="nav-collapse " >
    <ul class="sidebar-menu" id="nav-accordion" >
      <li class="mt">
        <%= nav_link_to root_path do %>
          <i class="fa fa-dashboard"></i>
          <span> Links (<%= links_count %>) </span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to favourites_links_path do %>
          <i class="fa fa-heart"></i>
          <span> Favourites (<%= favourite_links_count%>) </span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to new_link_path do %>
          <i class="fa fa-plus"></i>
          <span> Add New Link </span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to chart_by_learn_path do %>
          <i class="fa fa-bar-chart-o"></i>
          <span> Reports </span>
        <% end %>
      </li>
      <li>
        <%= link_to links_path(format: "csv") do %>
          <i class="fa fa-download"></i>
          <span> Export Links</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to import_form_links_path do %>
          <i class="fa fa-upload"></i>
          <span> Import Links </span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>

<script>
    $(document).ready(function(){
        $('.left_sidebar').click(function () {
            if ($('#sidebar > ul').is(":visible") === true) {
                $('#main-content').css({
                    'margin-left': '0px'
                });
                $('#sidebar').css({
                    'margin-left': '-210px'
                });
                $('#sidebar > ul').hide();
                $("#container").addClass("sidebar-closed");
            } else {
                $('#main-content').css({
                    'margin-left': '210px'
                });
                $('#sidebar > ul').show();
                $('#sidebar').css({
                    'margin-left': '0'
                });
                $("#container").removeClass("sidebar-closed");
            }
        });
    });
</script>