<!DOCTYPE html>
<html>
<head>
  <title>LearningPath</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<% if params[:controller] == 'learn_time' %>-->
    <!--<script src='https://www.google.com/jsapi'></script>-->
  <!--<% end %>-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?sensor=false">
  </script>
  <%= csrf_meta_tags %>
</head>
<body id="">
  <%= render 'layouts/header' if current_user %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <section id=<%='main-content' if current_user %>>
    <%= yield %>
  </section>
  <%= render 'layouts/footer' if current_user %>
</body>
</html>
