<!DOCTYPE html>
<html>
<head>
  <title>LearningPath</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="">
  <%= render 'layouts/header' if current_user %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <section id=<%='main-content' if current_user %>>
    <%= yield %>
  </section>
  <%= render 'layouts/footer' if current_user %>
</body>
</html>
