<!DOCTYPE html>
<html>
<head>
  <title>LearningPath</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/left_sidebar' if current_user %>
  <%= render 'shared/flash'%>
  <section id='main-content'>
    <%= yield %>
  </section>
  <ol id="chooseID">
    <li data-id="joy1">Click here to get all links</li>
    <li data-id="joy2">Click here to add new link</li>
  </ol>
</body>
</html>
